apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required"
    nginx.ingress.kubernetes.io/auth-secret: basic-auth
  name: sm
spec:
  tls:
  - hosts:
    - sm.{{ domain }}
    secretName: tls-secret
  rules:
  - host: sm.{{ domain }}
    http:
      paths:
      - backend:
          serviceName: sm 
          servicePort: 8080
        path: /
