# {{ ansible_managed }}
global
    log         127.0.0.1 local2 

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        root
    group       root
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats level admin

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

    # enable stats uri
    stats enable
    stats uri /haproxy?stats
    stats auth admin:@dmin

frontend https-frontend
    mode http
    bind *:80
    default_backend wwwbackend

backend wwwbackend
    balance roundrobin
    {% for host in groups['master'] %}
    server  {{ host }}  {{ host }}:9010 check port 9010
    {% endfor %}
