apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required"
    nginx.ingress.kubernetes.io/auth-secret: basic-auth
  name: nn
spec:
  tls:
  - hosts:
    - nn.{{ domain }}
    secretName: tls-secret
  rules:
  - host: nn.{{ domain }}
    http:
      paths:
      - backend:
          serviceName: nn
          servicePort: 50070
        path: /
