apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required"
    nginx.ingress.kubernetes.io/auth-secret: basic-auth
  name: hm
spec:
  tls:
  - hosts:
    - hm.{{ domain }}
    secretName: tls-secret
  rules:
  - host: hm.{{ domain }}
    http:
      paths:
      - backend:
          serviceName: hm
          servicePort: 16010
        path: /
