apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required"
    nginx.ingress.kubernetes.io/auth-secret: basic-auth
  name: pipeline
spec:
  tls:
  - hosts:
    - pl.{{ domain }}
    secretName: tls-secret
  rules:
  - host: pl.{{ domain }}
    http:
      paths:
      - backend:
          serviceName: pl
          servicePort: 4040
        path: /
