apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: npi
spec:
  tls:
  - hosts:
    - npi.{{ domain }}
    secretName: tls-secret
  rules:
  - host: npi.{{ domain }}
    http:
      paths:
      - backend:
          serviceName: noderestapi
          servicePort: 3000
