<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                 Node App V1.1
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/adduser">Add User</a></li>
            <li><a href="/listuser">List Users</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
      
    </div>
</nav>

