vrrp_script haproxy-check {
    script "killall -0 haproxy"
    interval 2
    weight 20
}
 
vrrp_instance haproxy-vip {
    state BACKUP
    priority 101
    interface {{ interface }}
    virtual_router_id 47
    advert_int 3
 
    unicast_src_ip  {{ inventory_hostname }}
    unicast_peer {
        {% for node in groups['master'] %}
            {% if  node  != inventory_hostname %}
               {{ node }}
            {% endif %}
        {% endfor %}
    }
 
    virtual_ipaddress {
        {{ groups['api_lb'][0] }}
    }
 
    track_script {
        haproxy-check weight 20
    }
}
