apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required"
    nginx.ingress.kubernetes.io/auth-secret: basic-auth
  name: kubernetes-dashboard
  namespace: kube-system
spec:
  tls:
  - hosts:
    - dashboard.{{ domain }}
    secretName: tls-secret
  rules:
  - host: dashboard.{{ domain }}
    http:
      paths:
      - backend:
          serviceName: kubernetes-dashboard
          servicePort: 9090
        path: /
